{% block cokiban %}
    <div id="cokiban" data-x-data="cokibanBanner" data-x-bind="bindCokiban" data-cokiban-config="{{ cokiban.config }}" data-cokiban-cookies="{{ cokiban.cookies }}" data-cokiban-label-switch-true="{{ cokiban.translation.banner.switch_true }}" data-cokiban-label-switch-false="{{ cokiban.translation.banner.switch_false }}">
        <template data-x-bind="bindBanner">
            {% block banner %}
                <div class="cokiban__wrapper cokiban__banner">
                    <div class="cokiban__container">
                        <div class="cokiban__header">
                            {% block banner_header %}
                                <svg class="cokiban__header__icon" height="32" width="32" aria-hidden="true">
                                    <use xlink:href="#icon-cokiban-header"></use>
                                </svg>
                                <div class="cokiban__header__title">
                                    <span data-x-show="showOverview">{{ cokiban.translation.banner.main_headline }}</span>
                                    <span data-x-show="showDetails">{{ cokiban.translation.banner.details_headline }}</span>
                                </div>
                                <button class="cokiban__header__back cokiban__button cokiban__button--link" title="{{ cokiban.translation.banner.details_back_link_title }}" data-x-bind="bindBackButton">{{ cokiban.translation.banner.details_back_link_text }}</button>
                            {% endblock %}
                        </div>
                        <template data-x-if="showOverview">
                            <div class="cokiban__body">
                                {% block banner_body_overview %}
                                    <p class="cokiban__body__text">{{ cokiban.translation.banner.main_text|insert_tag|raw }}</p>
                                    <div class="cokiban__checkboxes">
                                        <div class="cokiban__checkbox cokiban__checkbox--checked">
                                            <input type="checkbox" name="cokibanCookieMandatory" id="cokibanCookieMandatory" checked disabled>
                                            <label for="cokibanCookieMandatory">{{ cokiban.translation.groups.mandatory.headline }}</label>
                                        </div>
                                        {% for groupKey, group in cokiban.groups %}
                                            <div class="cokiban__checkbox">
                                                <input type="checkbox" name="cokibanCheckbox{{ groupKey|capitalize }}" id="cokibanCheckbox{{ groupKey|capitalize }}" data-x-bind="bindSwitch" data-cokiban-cookie="{{ groupKey }}">
                                                <label for="cokibanCheckbox{{ groupKey|capitalize }}">{{ cokiban.translation.groups[groupKey].headline }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endblock %}
                            </div>
                        </template>
                        <template data-x-if="showDetails">
                            <div class="cokiban__body">
                                {% block banner_body_details %}
                                    <div class="cokiban__group">
                                        <p class="cokiban__group__title">
                                            <strong>{{ cokiban.translation.groups.mandatory.headline }}</strong>
                                        </p>
                                        <p class="cokiban__group__text">{{ cokiban.translation.groups.mandatory.text }}</p>
                                    </div>
                                    {% for groupKey, group in cokiban.groups %}
                                        <div class="cokiban__group">
                                            <p class="cokiban__group__title">
                                                <strong>{{ cokiban.translation.groups[groupKey].headline }}</strong>
                                            </p>
                                            <p class="cokiban__group__text">{{ cokiban.translation.groups[groupKey].text }}</p>
                                            <div class="cokiban__switch">
                                                <input type="checkbox" name="cokibanSwitch{{ groupKey|capitalize }}" id="cokibanSwitch{{ groupKey|capitalize }}" data-x-bind="bindSwitch" data-cokiban-cookie="{{ groupKey }}">
                                                <label for="cokibanSwitch{{ groupKey|capitalize }}">
                                                    <span class="cokiban__invisible">{{ cokiban.translation.groups[groupKey].headline }}</span>
                                                    <span data-x-bind="bindSwitchLabel" data-cokiban-cookie="{{ groupKey }}"></span>
                                                </label>
                                            </div>
                                            {% for cookieKey, cookie in group %}
                                                <div class="cokiban__cookie">
                                                    <p class="cokiban__cookie__title">
                                                        <strong>{{ cokiban.translation.cookies[cookieKey].headline }}</strong>
                                                    </p>
                                                    <p class="cokiban__cookie__title__text">{{ cokiban.translation.cookies[cookieKey].text|insert_tag|raw }}</p>
                                                    <div class="cokiban__switch">
                                                        <input type="checkbox" name="cokibanSwitch{{ groupKey|capitalize ~ cookieKey|capitalize }}" id="cokibanSwitch{{ groupKey|capitalize ~ cookieKey|capitalize }}" data-x-bind="bindSwitch" data-cokiban-cookie="{{ groupKey ~ cookieKey|capitalize }}">
                                                        <label for="cokibanSwitch{{ groupKey|capitalize ~ cookieKey|capitalize }}">
                                                            <span class="cokiban__invisible">{{ cokiban.translation.cookies[cookieKey].headline }}</span>
                                                            <span data-x-bind="bindSwitchLabel" data-cokiban-cookie="{{ groupKey ~ cookieKey|capitalize }}"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endblock %}
                            </div>
                        </template>
                        <div class="cokiban__buttons">
                            {% block banner_buttons %}
                                <button class="cokiban__button" title="{{ cokiban.translation.banner.save_button_title }}" data-x-bind="bindSaveSettings">{{ cokiban.translation.banner.save_button_text }}</button>
                                <button class="cokiban__button cokiban__button--accept" title="{{ cokiban.translation.banner.accept_button_title }}" data-x-bind="bindAcceptAll">{{ cokiban.translation.banner.accept_button_text }}</button>
                            {% endblock %}
                        </div>
                        <div class="cokiban__footer">
                            {% block banner_footer %}
                                {% if cokiban.translation.banner.footer_links %}
                                    <ul>
                                        {% for link in cokiban.translation.banner.footer_links %}
                                            <li>{{ link|insert_tag|raw }}</li>
                                        {% endfor %}
                                        <li data-x-show="showOverview">
                                            <button class="cokiban__button cokiban__button--link" title="{{ cokiban.translation.banner.details_link_title }}" data-x-bind="bindDetailsButton">{{ cokiban.translation.banner.details_link_text }}</button>
                                        </li>
                                    </ul>
                                {% else %}
                                    {{ cokiban.translation.banner.footer_text }}
                                    <button class="cokiban__button cokiban__button--link" title="{{ cokiban.translation.banner.details_link_title }}" data-x-bind="bindDetailsButton">{{ cokiban.translation.banner.details_link_text }}</button>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </template>
        <template data-x-bind="bindHint">
            {% block hint %}
                <div class="cokiban__wrapper cokiban__hint">
                    <div class="cokiban__container">
                        <div class="cokiban__header">
                            {% block hint_header %}
                                <svg class="cokiban__header__icon" height="32" width="32" aria-hidden="true">
                                    <use xlink:href="#icon-cokiban-header"></use>
                                </svg>
                                <div class="cokiban__header__title">
                                    <span data-x-show="showOverview">{{ cokiban.translation.banner.main_headline }}</span>
                                    <span data-x-show="showDetails">{{ cokiban.translation.banner.details_headline }}</span>
                                </div>
                                <button class="cokiban__header__back cokiban__button cokiban__button--link" title="{{ cokiban.translation.banner.details_back_link_title }}" data-x-bind="bindBackButton">{{ cokiban.translation.banner.details_back_link_text }}</button>
                            {% endblock %}
                        </div>
                        <div class="cokiban__body">
                            {% block hint_body %}
                                <p class="cokiban__body__text" data-x-bind="bindHintText"></p>
                            {% endblock %}
                        </div>
                        <div class="cokiban__buttons">
                            {% block hint_buttons %}
                                <button class="cokiban__button cokiban__button--small" title="{{ cokiban.translation.banner.close_button_title }}" data-x-bind="bindCloseHint">{{ cokiban.translation.banner.close_button_text }}</button>
                                <button class="cokiban__button cokiban__button--accept" data-x-bind="bindAcceptHint">Accept</button>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </template>
        {% block sprite %}
            <svg class="cokiban__sprite" height="0" width="0" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <symbol id="icon-cokiban-header" viewBox="0 0 32 32">
                        <path d="m12.29 7.67a3.2 3.2 0 1 0 3.19 3.2 3.2 3.2 0 0 0 -3.19-3.2zm0 4.87a1.68 1.68 0 1 1 1.71-1.67 1.68 1.68 0 0 1 -1.71 1.67z"></path>
                        <path d="m10.17 19.18a3.2 3.2 0 1 0 3.2 3.2 3.21 3.21 0 0 0 -3.2-3.2zm0 4.88a1.68 1.68 0 1 1 1.68-1.68 1.68 1.68 0 0 1 -1.68 1.68z"></path>
                        <path d="m31.87 15.86v-.07a.76.76 0 0 0 -.72-.75 3 3 0 0 1 -2.61-1.76.76.76 0 0 0 -1.13-.28 3.09 3.09 0 0 1 -1.76.56 3 3 0 0 1 -1.52-.41 3 3 0 0 1 -1.51-2.91.76.76 0 0 0 -.83-.83h-.27a3 3 0 0 1 -2.52-4.82.77.77 0 0 0 .14-.59.74.74 0 0 0 -.42-.49 3 3 0 0 1 -1.72-2.66.76.76 0 0 0 -.75-.72h-.25a15.88 15.88 0 1 0 15.88 15.87s-.01-.1-.01-.14zm-26.42-7.66a1.68 1.68 0 0 1 -1.67 1.68 1.65 1.65 0 0 1 -.69-.15 14.26 14.26 0 0 1 1.79-2.79 1.66 1.66 0 0 1 .57 1.26zm10.55 22.15a14.35 14.35 0 0 1 -13.5-19.22 3.09 3.09 0 0 0 1.28.27 3.2 3.2 0 0 0 2.12-5.59 14.29 14.29 0 0 1 9.63-4.15 4.56 4.56 0 0 0 1.84 2.77 4.57 4.57 0 0 0 3.73 6.47 4.57 4.57 0 0 0 4.55 4.15 4.52 4.52 0 0 0 1.92-.42 4.56 4.56 0 0 0 2.77 1.84 14.16 14.16 0 0 1 -.45 3.14 3.15 3.15 0 0 0 -1.06-.18 3.2 3.2 0 0 0 -1.83 5.8 14.32 14.32 0 0 1 -11 5.12zm11.9-6.35a1.7 1.7 0 0 1 -.74-1.39 1.68 1.68 0 0 1 1.67-1.61 1.73 1.73 0 0 1 .6.11 14.55 14.55 0 0 1 -1.53 2.89z"></path>
                        <path d="m18.89 15.83a4.11 4.11 0 1 0 4.11 4.11 4.11 4.11 0 0 0 -4.11-4.11zm0 6.7a2.59 2.59 0 1 1 2.59-2.59 2.59 2.59 0 0 1 -2.59 2.59z"></path>
                    </symbol>
                </defs>
            </svg>
        {% endblock %}
    </div>
{% endblock %}
